@charset "utf-8";
/* CSS Document */
/*============================
ページ内共通
============================*/
a {
	text-decoration: none;
}
em {
	font-style: normal;
}
li {
	list-style: none;
}
img {
	vertical-align: top;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.inner {
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.ttl1 {
	font-size: 25px;
	text-align: center;
	font-weight: normal;
}
/*============================
パンくず
============================*/
#pankz {
	background-color: #f2f2f2;
	padding: 7px 30px;
	font-size: 12px;
	line-height: 1;
}
/*============================
メイン
============================*/
main {
	/*	font-family:"游明朝", "Sawarabi Mincho", "HG明朝E", serif;*/
	overflow: hidden;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.spMainVisual {
	display: none;
}
main .categoryBox {
	text-align: center;
}
main .categoryBox ul {
	letter-spacing: -0.5em;
}
main .categoryBox li {
	display: inline-block;
	width: 138px;
	letter-spacing: normal;
	vertical-align: top;
}
main .categoryBox li a {
	display: block;
	width: 119px;
	height: 37px;
	margin: auto;
	font-size: 14px;
	font-weight: bold;
	line-height: 37px;
	position: relative;
}
main .categoryBox li.cateNo1 a {
	color: #b3b3b3;
}
main .categoryBox li.cateNo2 a {
	color: #e0d624;
}
main .categoryBox li.cateNo3 a {
	color: #ffa800;
}
main .categoryBox li.cateNo4 a {
	color: #c03;
}
main .categoryBox li.cateNo5 a {
	color: #484848;
}
main .categoryBox li.cateNo6 a {
	color: #003f98;
}
main .categoryBox li.cateNo7 a {
	color: #009bff;
}
main .categoryBox li a:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 4px;
	left: 0;
	right: 0;
}
main .categoryBox li.cateNo1 a:after {
	background-color: #b3b3b3;
}
main .categoryBox li.cateNo2 a:after {
	background-color: #e4da25;
}
main .categoryBox li.cateNo3 a:after {
	background-color: #ffa800;
}
main .categoryBox li.cateNo4 a:after {
	background-color: #c03;
}
main .categoryBox li.cateNo5 a:after {
	background-color: #484848;
}
main .categoryBox li.cateNo6 a:after {
	background-color: #003f98;
}
main .categoryBox li.cateNo7 a:after {
	background-color: #009bff;
}
main .categoryBox li a:hover, main .categoryBox li a.on {
	width: 100%;
	color: #fff;
}
main .categoryBox li.cateNo1 a:hover,  main .categoryBox li.cateNo1 a.on {
	background-color: #b3b3b3;
}
main .categoryBox li.cateNo2 a:hover,  main .categoryBox li.cateNo2 a.on {
	background-color: #fff100;
	color: #000;
}
main .categoryBox li.cateNo3 a:hover,  main .categoryBox li.cateNo3 a.on {
	background-color: #ffa800;
}
main .categoryBox li.cateNo4 a:hover,  main .categoryBox li.cateNo4 a.on {
	background-color: #c03;
}
main .categoryBox li.cateNo5 a:hover,  main .categoryBox li.cateNo5 a.on {
	background-color: #484848;
}
main .categoryBox li.cateNo6 a:hover,  main .categoryBox li.cateNo6 a.on {
	background-color: #003f98;
}
main .categoryBox li.cateNo7 a:hover,  main .categoryBox li.cateNo7 a.on {
	background-color: #009bff;
}
main .categoryBox li a:hover:after, main .categoryBox li a.on:after {
	content: normal;
}
main .visualBox {
	margin-bottom: 28px;
}
main .visualBox > ul{
	padding-top: 13.4375%;
	position: relative;
}
main .visualBox li {
	display: none;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
main .visualBox li.visNo1 {
	background-image: url(/products/wgps/top/images/main_visual01.jpg);
}
main .visualBox li.visNo2 {
	background-image: url(/products/wgps/top/images/main_visual02.jpg);
}
main .visualBox li.visNo3 {
	background-image: url(/products/wgps/top/images/main_visual03.jpg);
}
main .visualBox li.visNo4 {
	background-image: url(/products/wgps/top/images/main_visual04.jpg);
}
main .visualBox li.visNo5 {
	background-image: url(/products/wgps/top/images/main_visual05.jpg);
}
main .visualBox li.visNo6 {
	background-image: url(/products/wgps/top/images/main_visual06.jpg);
}
main .visualBox li.visNo7 {
	background-image: url(/products/wgps/top/images/main_visual07.jpg);
}
main .visualBox li span {
	display: block;
	max-width: 1120px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
main .visualBox li img {
	position: absolute;
	bottom: 0;
	left: 10px;
}
main .lineupBox {
	max-width: 1120px;
	margin: auto;
	overflow: hidden;
}
main .lineupBox ul {
	display: block;
	padding: 0 5px;
	letter-spacing: -0.5em;
}
main .lineupBox li {
	display: inline-block;
	width: 20%;
	margin-bottom: 10px;
	padding: 0 5px;
	vertical-align: middle;
	letter-spacing: normal;
	box-sizing: border-box;
}
main .lineupBox li.lineupNo08 {
	width: 40%;
}
main .lineupBox li a {
	display: block;
	position: relative;
}
main .lineupBox li a:before {
	position: absolute;
	border-style: solid;
	border-width: 4px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
main .lineupBox ul.activeCate1 li.cate1 a:before,  main .lineupBox ul.activeCate2 li.cate2 a:before,  main .lineupBox ul.activeCate3 li.cate3 a:before,  main .lineupBox ul.activeCate4 li.cate4 a:before,  main .lineupBox ul.activeCate5 li.cate5 a:before,  main .lineupBox ul.activeCate6 li.cate6 a:before,  main .lineupBox ul.activeCate7 li.cate7 a:before {
	content: "";
	display: block;
}
main .lineupBox ul.activeCate1 li.cate1 a:before {
}
main .lineupBox ul.activeCate2 li.cate2 a:before {
	border-color: #fff100;
}
main .lineupBox ul.activeCate3 li.cate3 a:before {
	border-color: #ffa800;
}
main .lineupBox ul.activeCate4 li.cate4 a:before {
	border-color: #cc0033;
}
main .lineupBox ul.activeCate5 li.cate5 a:before {
	border-color: #000000;
}
main .lineupBox ul.activeCate6 li.cate6 a:before {
	border-color: #003f98;
}
main .lineupBox ul.activeCate7 li.cate7 a:before {
	border-color: #009bff;
}
main .lineupBox li a span {
	display: block;
	position: relative;
}
main .lineupBox li a span:before,  main .lineupBox li.icnNew a span:after {
	content: "";
	display: block;
	position: absolute;
}
main .lineupBox li a span:before {
	background: url(/products/wgps/top/images/lineup_arw.png) right bottom no-repeat;
	background-size: contain;
	width: 34px;
	height: 34px;
	bottom: 0;
	right: 0;
}
main .lineupBox ul.activeCate2 li.cate2 a span:before {
	background-image: url(/products/wgps/top/images/lineup_arw2.png);
}
main .lineupBox ul.activeCate3 li.cate3 a span:before {
	background-image: url(/products/wgps/top/images/lineup_arw3.png);
}
main .lineupBox ul.activeCate4 li.cate4 a span:before {
	background-image: url(/products/wgps/top/images/lineup_arw4.png);
}
main .lineupBox ul.activeCate5 li.cate5 a span:before {
	background-image: url(/products/wgps/top/images/lineup_arw5.png);
}
main .lineupBox ul.activeCate6 li.cate6 a span:before {
	background-image: url(/products/wgps/top/images/lineup_arw6.png);
}
main .lineupBox ul.activeCate7 li.cate7 a span:before {
	background-image: url(/products/wgps/top/images/lineup_arw7.png);
}
main .lineupBox li.icnNew a span:after {
	background: url(/products/wgps/top/images/lineup_icn_new.png) 0 0 no-repeat;
	width: 71px;
	height: 21px;
	top: 9px;
	left: 7px;
}
main .lineupBox li img {
	width: 100%;
	height: auto;
}
/*============================
おすすめのコンテンツ
============================*/
.recoZone {
	display: none;
	background-color: #f0f0f0;
	margin-top: 20px;
	padding: 50px 0 25px;
}
.recoZone .ttl1 {
	margin-bottom: 25px;
}
.recoZone .ttl1 span {
	display: none;
}
.recoZone .ttl1 span.show {
	display: inline;
}
.recoZone .bnArea {
	text-align: center;
}
.recoZone .bnArea a {
	display: none;
	margin: 0 10px 20px;
}
.recoZone .bnArea a:hover {
	opacity: 0.8;
}
.recoZone .bnArea a.show {
	display: inline-block;
}
.recoZone .bnArea a img {
	width: 100%;
}
/*============================
PICK UP コンテンツ
============================*/
.pickupZone {
	width: 970px;
	margin: 90px auto 0;
}
.pickupZone .ttl1 {
	margin-bottom: 15px;
}
.pickupZone ul {
	letter-spacing: -0.5em;
}
.pickupZone li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
}
.pickupZone li a {
	display: block;
}
.pickupZone .tabs {
	margin-bottom: 29px;
	text-align: center;
	overflow: hidden;
}
.pickupZone .tabs ul {
	margin: 0 -6px;
}
.pickupZone .tabs li {
	margin: 0 6px;
}
.pickupZone .tabs li a {
	width: 184px;
	height: 26px;
	color: #000;
	font-size: 15px;
	text-align: center;
	border-bottom: 2px solid #ccc;
}
.pickupZone .tabs li a:hover,  .pickupZone .tabs li a.show {
	border-bottom-color: #000;
}
.pickupZone .conts {
	overflow: hidden;
}
.pickupZone .conts .bnArea {
	margin: 0 -13px;
}
.pickupZone .conts ul {
	margin: 0 -13px;
}
.pickupZone .conts li {
	display: none;
	margin: 0 13px 23px;
}
.pickupZone .conts ul.pickupAll li {
	display: inline-block;
}
.pickupZone .conts.andMore ul.pickupAll li,  .pickupZone .conts ul.pickupRun li.bnRun,  .pickupZone .conts ul.pickupTrek li.bnTrek,  .pickupZone .conts ul.pickupTrail li.bnTrail,  .pickupZone .conts ul.pickupCommon li.bnCommon {
	display: inline-block !important;
}
.pickupZone .conts li a {
	width: 223px;
	height: 108px;
	background-color: #333;/*dummyがある為*/
}
.pickupZone .conts a:hover {
	opacity: 0.8;
}
.pickupZone .conts a img {
	width: 100%;
}
.pickupZone .conts p {
	margin-top: 5px;
	text-align: center;
}
.pickupZone .conts p u {
	display: inline-block;
	width: 80px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	vertical-align: top;
/*	letter-spacing: -0.2em;*/
	text-decoration: none;
}
@media all and (-ms-high-contrast:none){
  .pickupZone .conts p u  { 
	padding: 4px 0 1px 0; } /* IE10 */
}
.pickupZone .conts p u + u {
	margin-left: 5px;
}
.pickupZone .conts p u.lblTrek {
	background-color: #008db5;
}
.pickupZone .conts p u.lblRun {
	background-color: #012c57;
}
.pickupZone .conts p u.lblTrail {
	background-color: #0063a3;
}
.pickupZone .conts p u.lblCommon {
	background-color: #005d72;
}
.pickupZone .btnMore {
	display: none;
}
/*============================
新着情報
============================*/
.newsZone {
	max-width: 970px;
	margin: 107px auto 98px;
	padding: 0 10px;
	overflow: hidden;
}
.newsZone .ttl1 {
	margin-bottom: 30px;
}
.newsZone .newsWrap {
	margin: auto -20px;
}
.newsZone .newsBox {
	display: table;
	table-layout: fixed;
	border-spacing: 20px 0;
	width: 100%;
	font-size: 13px;
}
.newsZone .newsBox > a {
	display: table-row;
	color: #000;
}
.newsZone .newsBox > a > * {
	display: table-cell;
	padding: 14px 5px;
	border-bottom: 1px solid #e5e5e5;
}
.newsZone .newsBox > a:first-child > * {
	border-top: 1px solid #e5e5e5;
}
.newsZone .newsBox > a > span {
	width: 105px;
}
.newsZone .newsBox > a > p {
}
.newsZone .newsBox > a:hover > p {
	text-decoration: underline;
}
.newsZone .newsBox > a.lbl > p {
	background-position: 5px 14px;
	background-repeat: no-repeat;
	background-size: 66px auto;
	padding-left: 85px;
}
.newsZone .newsBox > a.lbl.isInfo > p {
	background-image: url(/products/wgps/top/images/news_lbl_info.png);
}
.newsZone .newsBox > a.lbl.isGoods > p {
	background-image: url(/products/wgps/top/images/news_lbl_goods.png);
}
.newsZone .btnBox {
	margin: 20px 20px 0 0;
	text-align: right;
}
.newsZone .btnBox a {
	display: inline-block;
	background: url(/products/wgps/common/images/arw_r1.png) right center no-repeat;
	padding-right: 21px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
}
.newsZone .btnBox a:hover {
	text-decoration: underline;
}


/*------------------メディアクエリ------------------*/
@media screen and (min-width:768px) {
/*============================
メイン
============================*/
main .lineupBox li.lineupNo08.spItem {
	display: none !important;
}
}/* meadia (min-width:768px) End */

@media screen and (max-width:1000px) {
/*============================
メイン
============================*/
main .categoryBox li {
	width: 13.8%;
}
main .categoryBox li a {
	width: 86%;
	font-size: 1.4vw;
}
main .visualBox li img {
	width: 60%;
}
main .visualBox li.visNo2 img {
	width: 40%;
}
/*============================
おすすめのコンテンツ
============================*/
.recoZone {
	padding: 5% 0 2%;
}
/*============================
PICK UP コンテンツ
============================*/
.pickupZone {
	margin-top: 9vw;
}
/*============================
新着情報
============================*/
.newsZone {
	margin:10.7vw 0 9.8vw;
}
}/* meadia (max-width:1000px) End */

@media screen and (max-width:990px) {
/*============================
PICK UP コンテンツ
============================*/
.pickupZone {
	width: auto;
}
.pickupZone .tabs ul {
	margin: 0 5px;
}
.pickupZone .tabs li {
	width: 20%;
	margin: 0;
}
.pickupZone .tabs li a {
	width: auto;
	margin: 0 5px;
}
.pickupZone .conts ul {
	margin: 0 5px;
}
.pickupZone .conts li {
	width: 23.9%;
	margin: 0 0.5vw 1.8vw;
	padding: 0 5px;
	box-sizing: border-box;
}
.pickupZone .conts li a {
	width: auto;
	height: auto;
}
}/* meadia (max-width:990px) End */

@media screen and (max-width:767px) {
/*============================
ページ内共通
============================*/
.pcBrows {
	display: none !important;
}
.spDevice.isDisI {
	display: inline !important;
}
.spDevice.isDisB {
	display: block!important;
}
.spDevice.isDisIB {
	display: inline-block !important;
}
.ttl1 {
	font-size: 4.0rem;
}
/*============================
パンくず
============================*/
#pankz {
	background-color: #fff;
	padding: 4% 3.3334%;
	font-size: 2.1rem;
}
/*============================
メイン
============================*/
main .categoryBox {
	margin-bottom: 6.6667%;
	line-height: 1;
	overflow: hidden;
}
main .categoryBox ul {
	margin: 0 -5px;
}
main .categoryBox li {
	width: 33.3333%;
	margin-bottom: 1.0667%;
	float: left;
}
main .categoryBox li.cateNo1 {
	width: 100%;
}
main .categoryBox li a {
	width: auto;
	height: auto;
	margin: 0 5px;
	font-size: 2.3rem;
	line-height: 3.08;
}
main .categoryBox li a:hover, main .categoryBox li a.on {
	width: auto;
}
main .visualBox {
	display: none;
}
main .lineupBox ul {
	padding: 0 3.2%;
	letter-spacing: -0.5em;
}
main .lineupBox li {
	display: none;
	width: 50%;
	margin-bottom: 6.8377%;
	padding: 0 3.4189%;
}
main .lineupBox li.lineupNo08.pcItem {
	display: none !important;
}
main .lineupBox li.lineupNo08.spItem {
	width: 100%;
}
main .lineupBox ul.activeCate1 li,  main .lineupBox ul.activeCate2 li.cate2,  main .lineupBox ul.activeCate3 li.cate3,  main .lineupBox ul.activeCate4 li.cate4,  main .lineupBox ul.activeCate5 li.cate5,  main .lineupBox ul.activeCate6 li.cate6,  main .lineupBox ul.activeCate7 li.cate7 {
	display: inline-block;
}
main .lineupBox li a span:before {
	width: 34px;
	height: 34px;
}
main .lineupBox li.icnNew a span:after {
	background-size: contain;
	width: 34.8%;
	height: 8.04%;
	top: 3.5%;
	left: 4.6%;
}
.spMainVisual {
	display: block;
	margin-bottom: 2.9334%;
}
/*============================
おすすめのコンテンツ
============================*/
.recoZone {
	padding: 5% 0 4%;
}
.recoZone .ttl1 {
	margin-bottom: 8%;
	font-size: 3.5rem;
}
.recoZone .bnArea {
	padding: 0 3.2%;
	text-align: left;
	letter-spacing: -0.5em;
}
.recoZone .bnArea a {
	width: 50%;
	margin: 0 0 6.8377%;
	padding: 0 3.4189%;
	box-sizing: border-box;
	letter-spacing: normal;
}
/*============================
PICK UP コンテンツ
============================*/
.pickupZone {
	margin-top: 10%;
}
.pickupZone .tabs {
	margin-bottom: 6.6667%;
	font-size: 2.4rem;
	line-height: 1;
}
.pickupZone .tabs ul {
	margin: 0;
	padding: 0 5.7334%;
}
.pickupZone .tabs li {
	padding: 0 0.7531%;
	vertical-align: bottom;
	box-sizing: border-box;
}
.pickupZone .tabs li a {
	margin: 0;
	padding-bottom: 5%;
	height: auto;
	font-size: inherit
}
.pickupZone .conts {
	overflow: hidden;
}
.pickupZone .conts ul {
	padding: 0 3.2%;
}
.pickupZone .conts li {
	display: none;
	width: 50%;
	margin: 0 0 5.509%;
	padding: 0 3.4189%;
	box-sizing: border-box;
}
.pickupZone .conts li a {
	width: auto;
	height: auto;
	margin: 0;
	font-size: 0;
}
.pickupZone .conts p {
	margin-top: 6.5%;
	font-size: 0;
}
.pickupZone .conts p u {
	width: 47%;
	height: auto;
	padding: 2.6% 0;
	font-size: 2.1rem;
}
.pickupZone .conts li:nth-child(n+7) {
	display: none !important;
}
.pickupZone .pickupAll + .btnMore {
	display: block;
	margin-top: 5.3334%;
	font-size: 0;
	text-align: center;
}
.pickupZone .andMore .btnMore {
	display: none;
}
.pickupZone .btnMore a {
	display: inline-block;
	background: url(/products/wgps/top/images/sp_pickup_btn_more.png) center bottom no-repeat;
	background-size: 4.5334vw auto;
	padding-bottom: 3%;
	color: #000;
	font-size: 3.0rem;
}
/*============================
新着情報
============================*/
.newsZone {
	margin-top: 17.3334%;
	padding: 0;
}
.newsZone .ttl1 {
	margin-bottom: 6.8%;
}
.newsZone .newsWrap {
	margin: 0;
}
.newsZone .newsBox {
	display: block;
	width: auto;
	margin: 0;
	padding: 0 6.4%;
	font-size: 2.6rem;
}
.newsZone .newsBox > a {
	display: block;
	border-bottom: 1px solid #e5e5e5;
}
.newsZone .newsBox > a:first-child {
	border-top: 1px solid #e5e5e5;
}
.newsZone .newsBox > a > * {
	display: block;
	border: none !important;
}
.newsZone .newsBox > a > span {
	width: auto;
	padding: 3.8227% 0;
}
.newsZone .newsBox > a.lbl > span:after {
	content: "";
	display: inline-block;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16.9725%;
	margin-left: 1.5291%;
	padding-top: 5.9634%;
	vertical-align: middle;
}
.newsZone .newsBox > a.lbl.isInfo > span:after {
	background-image: url(/products/wgps/top/images/news_lbl_info.png);
}
.newsZone .newsBox > a.lbl.isGoods > span:after {
	background-image: url(/products/wgps/top/images/news_lbl_goods.png);
}
.newsZone .newsBox > a > p {
	background: none !important;
	padding: 0 0 3.8227% !important;
}
.newsZone .btnBox {
	margin: 5.0667% 6.4% 0 0;
	font-size: 0;
}
.newsZone .btnBox a {
	background-size: 3.4667vw auto;
	padding-right: 6.1334vw;
	font-size: 2.6rem;
}
}/* meadia (max-width:767px) End */
